table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
}

th {
  background-color: #f9f9f9;
  font-weight: bold;
}

td.total {
  font-family: monospace;
  text-align: right;
  font-weight: bold;
}

caption {
  font-size: 1.5em;
  margin-bottom: .5em;
}

table.table-hover {
  cursor: pointer;
}

table.table-light td, table.table-light th {
  background-color: #f9f9f9;
}

table.table-dark th {
  background-color: #333;
  color: #fff;
}

table.table-responsive {
  max-width: 768px;
  overflow-x: scroll;
}